@model LanghuaNew.Data.SupplierUser

@{
    ViewBag.FUNCTION = "修改密码";
}
@section PageJS {
    <script src="../../Scripts/pages/password.js?v=@System.Configuration.ConfigurationManager.AppSettings["version"]"></script>
}
<div class="ddtitle">
    <div class="title-left"><span class="border-left"></span>修改密码</div>
</div>
<div class="panel-default panel">
    <div class="panel-body form ">
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.SupplierUserID)
            <div class="form-group">
                <label class="col-md-2 control-label">@Html.LabelFor(model => model.SupplierUserName)：</label>
                <div class="col-md-10">
                    <p class="col-md-10 form-control-static">@Model.SupplierUserName</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"><span class="redspark">*</span>旧密码：</label>
                <div class="col-md-10">
                    <input id="PassWord" name="PassWord" class="form-control input-sm input-inline input250" type="password" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"><span class="redspark">*</span>新密码：</label>
                <div class="col-md-10">
                    <input id="newPassWord" name="newPassWord" class="form-control input-sm input-inline input250" type="password" />
                    <span>密码必须6-12位数字、字母和特殊字符组合</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"><span class="redspark">*</span>确认密码：</label>
                <div class="col-md-10">
                    <input id="newPassWord2" name="newPassWord2" class="form-control input-sm input-inline input250" type="password" />
                    <span>再次输入密码</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="javascript:;" type="button" class="btn btn-primary button70" id="btnSave">保存</a>
                </div>
            </div>
        </div>
    </div>
</div>