
@{
    ViewBag.SECTION = "工作台";
    ViewBag.FUNCTIONC = "工作台";

    Layout = "~/Views/Shared/home.cshtml";

}


<div class="group-title">
    <span class="left">
        <span class="big">使用教程</span>
    </span>
</div>

<div style="padding:10px 10px">
    <a target="_blank" href="http://www.dodotour.net/cdn/help.pdf" style="display:inline-block" class="margin-right-10 margin-bottom-10 margin-top-10">
        <img src="~/Content/img/instrction_pdf.jpg" alt="使用帮助文档" />
        <div style="height:40px;line-height:40px;" class="margin-top-10 text-center ">【PDF】浪花朵朵系统操作指南</div>
    </a>
    <a target="_blank" href="http://www.dodotour.net/cdn/help.html" style="display:inline-block" class="margin-left-10 margin-right-10 margin-bottom-10 margin-top-10">
        <img src="~/Content/img/instrction_video.jpg" alt="使用帮助文档" />
        <div style="height:40px;line-height:40px;" class="margin-top-10 text-center ">【视频教程】系统操作指南</div>
    </a>
</div>
