@{
    //Layout = null;
}


<div style="position:relative">
    <div style="margin: 100px auto 0px auto;width:600px;position:relative">
        <img src="~/Content/img/NoRight.gif" style="width:600px" />
    </div>
</div>

