@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="margin: 200px auto;width:600px">
        <img src="~/Content/img/NoRight.gif" style="width:600px" />
    </div>
</body>
</html>
