
@{
    ViewBag.Title = "微信付款";
    Layout = "~/Views/Shared/Weixin.cshtml";
}
<div style="margin:0 auto;width:310px;margin-top:10px">
    <div style="text-align:center">
        <div style="height:20px"></div>
        <h2>微信付款</h2>
        <div style="height:20px"></div>
    </div>
    <div style="text-align:center">
        <img src="~/Content/img/weixinpay.jpg" style="height:250px"/>
    </div>
    <div class="font14" style="text-align:center;line-height:25px;">
        <div style="height:20px"></div>
        步骤一：长按二维码选择识别图中二维码<br />
        步骤二：输入付款金额和支付密码，转账<br />
        步骤三：通知跟您联系的客服收钱。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>

