
@{
    ViewBag.Title = "UpdatePassWord";
    Layout = "~/Views/Shared/BaseCss.cshtml";
}


<style>
    .tips {
        min-height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 30px;
        width: auto;
    }

    .mainContainer {
        width: 100%;
        margin: auto;
        background: #038fd6;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .form-span {
        width: 80%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .control-label {
        color: white;
    }

    @@media (min-width: 992px) {
        .mainContainer {
            position: relative;
            top: 50%;
            margin-top: -127px;
        }

        .form-span {
            width: 60%;
        }
    }

    @@media (max-width: 992px) {

        .tips {
            width: 80%;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: left;
        }
    }

    ul {
        list-style: none;
        padding: 0px;
        color: white;
    }
</style>

<div class="mainContainer animated  bounceInDown">
    <div class="tips">基于安全策略，请您更新密码</div>
    <div class="form form-horizontal form-span">

        @using (Html.BeginForm())
        {
            <div class="form-body">
                <div class="form-group">

                    <div class="col-md-offset-4  col-md-8">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">请您输入新密码：</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" id="newPassWord" name="newPassWord" value="@ViewBag.newPassWord" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">请您重新输入新密码：</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" id="newPassWord2" name="newPassWord2" value="@ViewBag.newPassWord2" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="保存" class="btn btn-default button70" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

